---

- name: Copy control api config
  ansible.builtin.template:
    src: 'control.yml.j2'
    dest: '{{ neofs_ir__control_api_config_path }}'
    owner: 'root'
    group: '{{ neofs_ir__group }}'
    mode: '0640'
