# {{ ansible_managed }}

version: '2.4'

services:
  neofs-ir{{ neofs_ir__instance }}:
    image: {{ neofs_ir__docker_image }}
    container_name: neofs-ir{{ neofs_ir__instance }}
    hostname: neofs-ir{{ neofs_ir__instance }}
    network_mode: host
    stop_signal: SIGKILL
    user: '{{ ansible_facts.getent_passwd[neofs_ir__user][1] }}:{{ ansible_facts.getent_passwd[neofs_ir__user][2] }}'
    entrypoint: /bin/neofs-ir
    command: --config {{ neofs_ir__config_path }}
    volumes:
    - {{ neofs_ir__data_dir }}:{{ neofs_ir__data_dir }}
    - {{ neofs_ir__conf_dir }}:{{ neofs_ir__conf_dir }}
