[Unit]
Description=NeoFS InnerRing{{ neofs_ir__instance }} node
Requires=network.target

[Service]
Type=simple
ExecStart={{ neofs_ir__bin_path }} -config {{ neofs_ir__conf_dir }}/config.yaml
User={{ neofs_ir__user }}
Group={{ neofs_ir__group }}
Restart=always
RestartSec=5
StandardError=syslog
SyslogIdentifier=neofs-ir{{ neofs_ir__instance }}
PrivateTmp=true
WorkingDirectory={{ neofs_ir__data_dir }}

[Install]
WantedBy=multi-user.target
