{{ ansible_managed | comment }}

[Unit]
Description=NeoFS InnerRing{{ neofs_ir__instance }} node
Requires=network.target

[Service]
Type=simple
ExecStart={{ neofs_ir__bin_path }} --config {{ neofs_ir__config_path }}
User={{ neofs_ir__user }}
Group={{ neofs_ir__group }}
WorkingDirectory={{ neofs_ir__data_dir }}
Restart=always
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
